body {
    background-image: linear-gradient(45deg,#273341,#151a22);
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200vh;
}
section {
    overflow: hidden;
    position: relative;
}

//--------- Header --------//
.header {
    align-items: center;
    margin: 0 auto;
    background-color: #273341;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.header-container {
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.header-container img {
    width: 64px;
    height: auto;
    padding: 2vh;
    transition: all 450ms;
    
    &:hover {
        transform: rotate(360deg);
    }
}
.buttons {
    padding: 2vh;
}
.button-accueil {
    background-color:#273341;
    padding: 0.8vh;
    margin: 0.5vh;
    display: inline-flex;
    font-family: 'Karla', sans-serif;
    font-size: large;
    transition: all 450ms;

    &:hover {
        background-color: white;
        border-radius: 30px;
        z-index: 999;
        a {
            color: grey;
        }
    }
}
.button-presentation {
    background-color:#273341;
    padding: 0.8vh;
    margin: 0.5vh;
    display: inline-flex;
    font-family: 'Karla', sans-serif;
    font-size: large;
    transition: all 450ms;

    &:hover {
        background-color: white;
        border-radius: 30px;
        z-index: 999;
        a {
            color: grey;
        }
    }
}
.button-skills {
    background-color:#273341;
    padding: 0.8vh;
    margin: 0.5vh;
    display: inline-flex;
    font-family: 'Karla', sans-serif;
    font-size: large;
    transition: all 450ms;

    &:hover {
        background-color: white;
        border-radius: 30px;
        z-index: 999;
        a {
            color: grey;
        }
    }
}
.button-contact {
    background-color:#273341;
    padding: 0.8vh;
    margin: 0.5vh;
    display: inline-flex;
    font-family: 'Karla', sans-serif;
    font-size: large;
    transition: all 450ms;

    &:hover {
        background-color: white;
        border-radius: 30px;
        z-index: 999;
        a {
            color: black;
        }
    }
}
//--------- Section Accueil --------//
// #accueil {
   // height: 20vh;
   // position: relative;
   // border: 1px solid white;
//} 


//--------- Section APropos --------//
#presentation {
    max-width: 1920px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    position: relative;
}

//--------- Présentation --------//
.presentation-presentation {
    padding: 2vh;
    margin-top: 2vh;
    width: 100%;
    height: 50vh;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.presentation-presentation .img img {
    height: auto;
    width: 200px;
}
.presentation-presentation .title p {
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 3vh;
}
.presentation-presentation .container {
    display: flex;
    align-items: center;
}
#presentation .presentation-text p {
    text-align: justify;
    width: 100%;
    height: 50vh;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    font-size: medium;
    color: white;
}
//--------- Section Skills --------//
.skill-container {
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 2vh;
    width: 100%;
    height: auto;
    max-width: 500px;
}
.skill-container h3 {
    color: white;
    font-family:  'Karla', sans-serif;
    font-size: 3vh;
}
.skill-bar {
    width: 90%;
    height: 25px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 30px;
}
.skill-type {
    z-index: 1;
    margin-top: 15px;
    margin-left: 15px;
    color: #fff;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
}
.skill-niveau {
    z-index: 3;
    padding-right: 15px;
    float: right;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}
.skill-html {
    width: 100%;
    animation: animation-html 4s;
    height: 25px;
    background-color: #ea8564;
    border-radius: 30px;
}
@keyframes animation-html {
    from {
        width: 35%;
    }

    to {
        width: 100%
    }
}

.skill-css {
    animation: animation-css 5s;
    width: 70%;
    height: 25px;
    background-color: #55a69f;
    border-radius: 30px;
}
@keyframes animation-css {
    from {
        width: 35%;
    }

    to {
        width: 70%;
    }
}

.skill-js {
    animation: animation-js 4s;
    width: 65%;
    height: 25px;
    background-color: #c44e45;
    border-radius: 30px;
}
@keyframes animation-js {
    from {
        width: 35%;
    }
    to {
        width: 65%;
    }
}
.skill-php {
    animation: animation-php 4s;
    width: 50%;
    height: 25px;
    background-color: #5A69A6;
    border-radius: 30px;
}
@keyframes animation-php {
    from {
        width: 35%;
    }
    to {
        width: 50%;
    }
}
.skill-sql {
    animation: animation-sql 4s;
    width: 80%;
    height: 25px;
    background-color: #23b1db;
    border-radius: 30px;
}
@keyframes animation-sql {
    from {
        width: 35%;
    }
    to {
        width: 80%
    }
}


a:link {
    color:white;
    text-decoration: none;
    text-decoration-line: none;
}

a:visited {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}

a:focus {
    text-decoration: none;
    text-decoration-line: none;
}
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
    text-decoration-line: none;
}